/*
 * @Author: SiYuan Wang
 * @Date: 2019-03-22 14:15:26
 * @Description: container styles for fc
 */

$namespace: 'fc';

$footer_height: 40px;

.#{$namespace}-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.#{$namespace}-container__inner {
    flex: 1 1 auto;
    position: relative;
}
.#{$namespace}-container__footer {
    flex: 0 0 $footer_height;
    height: $footer_height;
    background-color: inherit;

    & > img {
        display: block;
        width: auto;
        height: $footer_height / 2;
        margin: $footer_height / 4 auto 0;
    }
}