/*
 * @Author: SiYuan Wang
 * @Date: 2018-11-26 09:19:39
 * @Description: loading styles for fc
 */
.fc-loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2001; }

.fc-loading-container,
.fc-loading--container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center; }

.fc-loading-box,
.fc-loading--box {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px 0 0 -21px;
  width: 42px;
  height: 20px;
  line-height: 20px;
  color: #999999;
  text-align: center; }

.fc-loading-item,
.fc-loading--item {
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #FF3333;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-animation: load 1.04s linear infinite;
          animation: load 1.04s linear infinite; }
  .fc-loading-item:nth-child(2),
  .fc-loading--item:nth-child(2) {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: .5;
    background-color: #2B81EB;
    -webkit-animation: load2 1.04s linear infinite;
            animation: load2 1.04s linear infinite; }

@-webkit-keyframes load {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(15px) scale(1.5);
            transform: translateX(15px) scale(1.5); }
  50% {
    opacity: 0.8;
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); }
  75% {
    -webkit-transform: translateX(15px) scale(0.5);
            transform: translateX(15px) scale(0.5); }
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); } }

@keyframes load {
  0% {
    opacity: 0.8;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); }
  25% {
    -webkit-transform: translateX(15px) scale(1.5);
            transform: translateX(15px) scale(1.5); }
  50% {
    opacity: 0.8;
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); }
  75% {
    -webkit-transform: translateX(15px) scale(0.5);
            transform: translateX(15px) scale(0.5); }
  100% {
    opacity: 0.5;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); } }
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); }
  25% {
    -webkit-transform: translateX(15px) scale(0.5);
            transform: translateX(15px) scale(0.5); }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); }
  75% {
    opacity: 0.8;
    -webkit-transform: translateX(15px) scale(1.5);
            transform: translateX(15px) scale(1.5); }
  100% {
    opacity: .5;
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); } }
@keyframes load2 {
  0% {
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); }
  25% {
    -webkit-transform: translateX(15px) scale(0.5);
            transform: translateX(15px) scale(0.5); }
  50% {
    opacity: 0.5;
    -webkit-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1); }
  75% {
    opacity: 0.8;
    -webkit-transform: translateX(15px) scale(1.5);
            transform: translateX(15px) scale(1.5); }
  100% {
    opacity: .5;
    -webkit-transform: translateX(30px) scale(1);
            transform: translateX(30px) scale(1); } }

/*# sourceMappingURL=fc.loading.css.map */