/*
 * @Author: SiYuan Wang
 * @Date: 2019-01-19 16:33:38
 * @Description: _tabs
 */

$namespace: 'fc-';

.#{$namespace}tabs {
    overflow-x: hidden;
    margin: 0;
    padding: 0.32rem 0.3rem 0;
    background-color: #ffffff;
    box-shadow: 2px 3px 3px #6d6d6d14;
    font-size: 0;
    letter-spacing: -4px;
    word-spacing: 0;

    .tabs--item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 1.2rem;
        height: 0.6rem;
        margin: 0 0.35rem;
        padding: 0 0 0.26rem;
        border: none;
        background-color: #ffffff;
        color: #19202e;
        font-size: 0.28rem;
        letter-spacing: 0;
        word-spacing: normal;
        outline: none;

        &:first-child {
            margin-left: 0 !important;
        }
        &:last-child {
            margin-right: 0 !important;
        }

        &.tabs--item__active {
            color: #4178fb;
        }
        &::after {
            content: ' ';
            position: absolute;
            left: 100%;
            bottom: 0;
            width: 0;
            height: 0.06rem;
            background-color: #4178fb;
            transition: all 0.2s ease-in-out;
            transform: skewX(45deg);
        }
        .badge {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -13px;
            right: -16px;
            z-index: 2;
            width: 30px;
            height: 30px;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #FF142C;
            -webkit-transform: scale(.5);
            -moz-transform: scale(.5);
            -ms-transform: scale(.5);
            -o-transform: scale(.5);
            transform: scale(.5);

            @media screen and (max-width: 345px) {
                -webkit-transform: scale(.4);
                -moz-transform: scale(.4);
                -ms-transform: scale(.4);
                -o-transform: scale(.4);
                transform: scale(.4);
            }
            @media screen and (min-width: 748px) {
                -webkit-transform: scale(.8);
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                -o-transform: scale(.8);
                transform: scale(.8);
            }
        }
        .badge--inner {
            height: 20px;
            overflow: hidden;
            line-height: 20px;
            color: #fff;
            font-size: 20px;
            text-align: center;
        }
    }
    .tabs--item.tabs--item__active {
        &::after {
            left: 0;
            width: 100%;
        }
        & ~ .tabs--item {
            &::after {
                left: 0;
            }
        }
    }
}
.#{$namespace}panels {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .panel--inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        overflow: hidden;
        font-size: 0;
        letter-spacing: -4px;
        word-spacing: 0;
        transition: transform 0.3s ease-in-out;
    }
    .panel--inner__overflowHidden {
        overflow-y: hidden !important;
    }
    .panel--item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 0;
        height: 100%;
        overflow-y: auto;
        padding-bottom: 0.8rem;
        background-color: #f7f7fa;
        -webkit-overflow-scrolling: touch;

        .panel--item--inner {
            position: relative;
            width: 100%;
            min-height: 100%;
            font-size: 16px;
            letter-spacing: 0;
            word-spacing: normal;
        }
    }
}
